* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


.wrapper {
    padding: 1%;
    width: 80%;
    margin: 0 auto;
}

.text__center {
    text-align: center;
}

.text_title {
    font-weight: 600;
}

.text_category {
    margin-top: 3%;
}

.clearfix {
    float: none;
    clear: both;
}


/* CSS for Table */
.tbl__full {
    width: 100%;
}

table tr th {
    border-bottom: 1px solid black;
    padding: 1%;
    padding-top: 2%;
    text-align: center;
}

table tr td {
    padding: 1%;
}

.description {
    width: 20%;
    padding-left: 2%;
}
.radio {
    width: 8%;
}
/* CSS for Button */
.btn {
    border: none;
    padding: 0.7% 2%;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-weight: 600;
    border-radius: 10px;
    margin: 1% 1%;
    font-size: 0.9rem;
}

.btn__primary {
    background-color: #1e90ff;
}

.btn__secondary {
    padding: 1%;
    background-color: #48c670;
}

.btn__danger {
    padding: 1%;
    background-color: #ff6b81;
}

.btn__primary:hover {
    background-color: #3742fa;
    transition: 0.5s;
}

.btn__secondary:hover {
    background-color: #3ca55d;
    transition: 0.5s;
}

.btn__danger:hover {
    background-color: #ff4757;
    transition: 0.5s;
}

.position {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.btn_center {
    display: block;
    margin: 2% auto;
}


/* CSS for Menu */
.menu {
    border-bottom: 1px solid gray;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    display: inline;
    padding: 1%;
}

.menu ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #ff6b81;
}

.menu ul li a:hover {
    color: #ff4757;
    transition: 0.5s;
}


/* CSS for Main Content */
.main__content {
    background-color: #f1f2f6;
    padding: 3% 0;
}

.col-4 {
    width: 18%;
    background-color: white;
    margin: 1%;
    padding: 2%;
    float: left;
}


/* CSS for Form */
.form {
    margin-top: 2%;
}

.form__row {
    margin-top: 2%;
}

.label {
    display: block;
}

.lable_category {
    margin-top: 2%;
}

.input,
select {
    border-radius: 10px;
    padding: 0.7% 10%;
    margin: 1%;
}

.input_center {
    display: block;
    margin: 1% auto;
    text-align: center;
}

.select_center {
    position: relative;
}

.form .btn {
    margin-top: 3%;
}


/* Вывод ошибок */
.error__none,
.error {
    padding: 1% 5%;
    border-radius: 20px;
    margin: 3% auto;
    width: 50%;
}

.error__none {
    background-color: #b9eeca;
}

.error {
    background-color: #f8aeb9;
}

/* CSS for footer */
.footer {
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    background-color: #ff6b81;
}

/* CSS for Login */
.login {
    border: solid 1px grey;
    border-radius: 10px;
    width: 70%;
    margin: 5% auto;
    padding: 2%;
}

.login p {
    font-size: small;
}

/* CSS for Category IMG*/
.img__category,
.no_img {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

.img__category {
    max-width: 200px;
    margin-top: 1%;
    margin-bottom: -1%;
}
 
.no_img {
    max-width: 30%;
    background-color: #f9cdd3;
    padding: 0.5%;
}